# Ignore everything in the root directory
/*
/src/frontier_exploration
/src/frontier_interfaces
/src/learned_frontier_detector
# Allow the src directory
!/src/

# Allow the .gitignore file itself so your rules are saved
!.gitignore

# Optional: Allow a README if you have one in the root
!/README.md
